body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paragraph-small {
  font-size: 14px;
  font-family: sans-serif;
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-weight: 400;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

.gap-sm {
  gap: 8px;
}

.gap-xl {
  gap: 24px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.g2-tooltip {
  background-color: white !important;
  color: #000 !important;
  padding: 6px 12px !important;
  max-width: unset !important;
  min-width: unset !important;
  font-family: sans-serif !important;
}